@charset "utf-8";
/* CSS Document */
/*css stylesheet start*/
/*banner-img*/
.banner{width:100%;height:657px;position:relative;left:0;top:0;}
.banner img{width:100%; height:100%; position:absolute;left:0;top:0;}
.banner .opa{width:100%;height:657px;position:absolute;left:0;top:0;background:#333;opacity:0.45;}
.banner .msg{position:absolute; left:0; top:0; width:100%; height:100%;}
.banner .msg img{width:222px; height:168px; position:absolute; left:50%; top:50px; margin-left:-111px;}
.banner .msg .tips_1{position:absolute; left:50%; top:161px; font-size:18px; color:#fff; font-family:'微软雅黑'; font-size:18px; font-weight:bold;}
.banner .msg p{font-size:72px; color:#fff; font-family:Arial, Helvetica, sans-serif; position:absolute; left:50%; top:248px; margin-left:-130px;}
.banner .msg .tips_2{font-size:18px; font-family:'微软雅黑'; color:#fff; position:absolute; left:50%; top:325px; margin-left:-72px;}
.banner .msg strong{font-size:18px; font-family:'微软雅黑'; font-size:18px; position:absolute; left:50%; top:470px;  margin-left:-36px; color:#fff;}
.banner .msg i{position:absolute; left:50%; top:516px; margin-left:-25px; width:51px; height:51px; background:url(../img/btn.png)no-repeat;}
/*head nav*/
.headnavwrap{width:100%;background:#77c8c3; line-height:98px; position:relative; z-index: 3; overflow: hidden;}
.headnav{width:1000px; margin:0 auto; overflow:hidden; padding:0 100px;} 
.headnav h1{font-size:30px; font-famliy:'微软雅黑'; color:#fff; float:left; magin-left:100px; float:left;}
.headnav ul{float:right; position:relative;}
.headnav li{float:left; font-size:16px; font-family:'微软雅黑'; width:120px; text-align: center;}
.headnav li:nth-child(4){margin-right:0;}
.headnav li:last-child{width:120px; height:98px; background: pink; position:absolute; left:; top:0;z-index: -1;}
.headnav li a{color:#fff;}
/*about me*/
.aboutmewrap{width:100%; height:510px; background:#e0f7f6; padding-top:113px;}
.about_me{width:1000px; margin:0 auto;}
.about_me h2,h3{font-family:Arial, Helvetica, sans-serif; color:#008181; text-align:center; }
.about_me h2{font-size:66px; line-height:66px; padding:27px 0 20px 0;}
.about_me h3{font-size:22px; line-height:22px; padding-bottom:23px;}
.about_me .permsg{height:256px; overflow:hidden;}
.about_me .permsg .face{width:193px; height:224px; padding:14px 10px; border:2px solid #cdcece; float:left; margin-right:25px;}
.about_me .permsg ul{float:left; padding:11px 0 0 5px; width:327px;}
.about_me .permsg .msglist li{margin-bottom:35px; height:14px;}
.about_me .permsg p{font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#000;}
.about_me .permsg .p1{float:left; width:80px;}
.about_me .permsg .p2{float:left;}
.about_me .permsg .p2 a{color:#000;}
.about_me .permsg .p2 a:hover{color:orange;}
.about_me .permsg .skill{float:left; width:420px;}
.about_me .permsg .skill h4{font-size:22px; color:#393b3a; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.about_me .permsg .skill strong{color:#00cfbd;}
.about_me .permsg .skill  li{height:55px;}
.about_me .permsg .skill p{font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#000; height:20px;}
/*my_portfolio*/
.my_portfoliowrap{width:100%;background:#ebebea; height:1240px;}
.my_portfolio{width:1200px; margin:0 auto; padding-top:36px;}
.my_portfolio h2{font-size:66px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#666; text-align:center; padding:36px 0 33px 0;}
.my_portfolio .tab .list{width:1200px; overflow:hidden; padding-left:384px; margin-bottom:30px;}
.my_portfolio .tab .list li{width:136px; height:55px; background:#fff; border-radius:10px; margin-right:160px; float:left; text-align:center; line-height:55px; font-size:18px; font-family:Arial; color:#999;}
.my_portfolio .tab .list li.active{background:#db5941; color:#fff;}
.my_portfolio .tab div{display:none;}
.my_portfolio .tab div ul{overflow:hidden; padding-left:90px;}
.my_portfolio .tab div li{width:340px; height:258px; float:left; margin:0 20px 20px 0; padding-top:20px; border-radius:10px;}
.my_portfolio .tab div .list1{background:#d06667;}
.my_portfolio .tab div .list2{background:#e9ce09;}
.my_portfolio .tab div .list3{background:#20be9d;}
.my_portfolio .tab div .list4{background:#8677a2;}
.my_portfolio .tab div .list5{background:#8ac9c7;}
.my_portfolio .tab div .list6{background:#5d2f53;}
.my_portfolio .tab div .list7{background:#e9ce09;}
.my_portfolio .tab div .list8{background:#4b4936;}
.my_portfolio .tab div .list9{background:#d06667;}
.my_portfolio .tab div li a{display:block; text-align:center; color:#fff; font-weight:bold;}
.my_portfolio .tab div li img{width:300px; height:200px; background-size:100%; border-radius:10px;}
.my_portfolio .tab div li .text{padding:10px;}
/*contact*/
.contactwrap{width:100%; height:523px; background:#db5941; position:relative;}
.contact{width:1200px; margin:0 auto;}
.contact h2{padding:42px 0 26px 0;font-size:66px;}
.contact h3{font-size:18px; font-weight:bold;}
.contact h2,h3{ font-family:Arial; color:#999; text-align:center;}
.contactmsg{overfloat:left; padding-top:20px;}
.contactmsg ul{float:left; padding:0 60px 0 120px; }
.contactmsg ul li{font-size:22px; color:#fff; height:80px; line-height:80px; padding-left:93px; }
.contactmsg .tel{background:url(../img/tel.png) no-repeat left center;}
.contactmsg .qq{background:url(../img/qq.png) no-repeat left center;}
.contactmsg .email{background:url(../img/email.png) no-repeat left center;}
.contactmsg img{float:left; margin:50px 15px 0 0 ;}
.contactmsg dl{float:left; font-size:18px; color:#fff; font-family:Arial; line-height:30px; padding: 20px 0 0 22px;}
.contactwrap a{position:absolute; right:26px; bottom:133px; width:57px; height:70px; background:url(../img/back.png) no-repeat;}
/*footer*/
.footerwrap{width:100%; height:183px; background:#444;}
.footer{width:1200px; margin:0 auto;}
.footer .tips{font-size:39px; color:#77c6c0; font-family:Arial; padding:56px 0 44px 0; text-align:center;}
.footer .copyright{text-align:center; font-size:22px; font-family:'微软雅黑'; color:#fff;}
/*css stylesheet end*/