@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}
h1,h2,h3,h4,h5,h6,p{font-family:Arial, Helvetica, sans-serif;}
img{vertical-align:top;}
li{list-style:none;}
header{height:3rem; background:#344a61; border-bottom:1px solid #3c4648;}
.left,.right{height:3rem; width:3rem; position:absolute;top:0;}
.left{left:0; border-right:2px solid #455b72;}
.left i{display:block;width:0.7rem; height:0.5rem; background:url(../img/icon-1.png) no-repeat; background-size:100%; margin:1.275rem auto;}
.middle{margin:0 3rem; color:#fff; font-size:1rem; text-align:center; line-height:3rem;}
.right{right:0; border-left:2px solid #455b72;}
.right i{display:block; width:0.9rem; height:0.6rem; background:url(../img/icon-2.png) no-repeat; background-size:100%; margin:1.2rem auto;}
h2{font-size:0.4rem; height:2.1rem; border-bottom:0.05rem solid #e7e7e7; line-height:2.1rem; color:#c0c0c0; margin:0 1rem;}
.banner{width:14rem; margin:1rem auto 0;}
.banner img{width:100%;}
.tit{font-size:0.6rem; color:#232323; font-weight:bolder;}
.tit_1{ margin:1.25rem 1rem 0; line-height:0.6rem;}
.cont-1{font-size:0.45rem; line-height:0.9rem; color:#5b5b5b; margin:0 1rem ; font-weight:200; border-bottom:0.05rem solid #e7e7e7; padding:0.7rem 0 1.1rem 0;}
/*content*/
.content{padding:1rem 0; margin:0 1rem; border-bottom:0.05rem solid #e7e7e7;}
.content img{float:left; width:4rem; height:4rem;}
.con-top,.con-bottom{ overflow:hidden;}
.con-top div,.con-bottom div{float:left; margin-left:1rem; width:8.6rem;}
.con-top h3,.con-bottom h3{margin-bottom:0.225rem;}
.con-top p,.con-bottom p{font-size:0.55rem; line-height:1rem; color:#636363;}
.tit_2{margin:1.2rem 1rem 0.775rem; font-size:0.55rem;}
.msg{font-size:0.55rem; line-height:1rem; color:#636363; margin:0 1rem;}
.list{overflow:hidden;margin:1.025rem 1rem 0; padding-bottom:1.5rem; border-bottom:0.05rem solid #e8e8e8; width:100%;}
.list li{width:4rem; height:4rem; float:left; margin:0 1rem 1rem 0;}
.list li a{display:block; width:4rem; height:4rem;}
.list li:nth-child(3n){margin-right:0;}
.list li img{width:100%; height:100%;}
.person{margin:1.075rem 1rem 0; overflow:hidden; padding-bottom:1rem; border-bottom:0.05rem solid #e5e5e5; width:100%;}
.person img{width:4rem; height:4rem; float:left;}
.person div{float:left; width:10rem;}
.person div p{font-size:0.55rem; padding-left:1rem; line-height:1.1rem; color:#636363;}
.person div em{font-size:0.5rem; display:block; text-align:right; color:#636363; font-weight:bold;}
.tit_3{font-size:0.55rem; margin:1.2rem 1rem 0; text-align:center;}
.intro{font-size:0.6rem;  color:#636363; line-height:0.9rem; margin:0.55rem 1rem 0; text-align:center;}
.listpic{overflow:hidden; margin:1rem 1rem 0; padding-left:2.3rem; padding-bottom:1rem; border-bottom:0.05rem solid #e8e8e8;}
.listpic li{float:left; width:2.5rem; height:2.5rem; margin-right:1.1rem;}
.listpic li img{width:100%; height:100%;}
.about{margin:0 1rem; text-align:center; padding:1.3rem 0 ;}
h4{font-size:0.4rem; color:#8e8e8e;}
.about .company{padding-bottom:0.6rem;}
footer{height:2.5rem; background:#000; padding-top:0.5rem;}
footer ul{overflow:hidden; padding:0 0.5rem; width:100%;}
footer ul li{width:1rem; height:1rem; margin-right:1rem; float:left;}
footer ul li:last-child{margin-right:0;}
footer ul li img{width:100%;}
.foot-msg{font-size:0.35rem; line-height:0.35rem; color:#4b4b4b; text-align:center; padding-top:0.55rem;}