*{padding:0; margin:0;}
body{background: #f0f0f0;}
li{list-style: none;}
ul{width:800px; height:400px; background: red; margin:60px auto; position:absolute; left:50%; top:50%;margin-left:-400px; margin-top:-200px; overflow: hidden;}
li{position:absolute; left:0; top:0; width:400px; height:800px;}
li span{font-size:18px; color:#ccc; width:35px; height: 100%; position:absolute; left: 0; top:0;  height:390px; padding-top:10px; text-align: center; font-weight: bold;} 
li .bg1{background: #ef7000; }
li .bg2{background: green;color:#ccc;}
li .bg3{background: yellow;}
li .bg4{background: pink;}
li span i{position:absolute; left:0; bottom:5px; font-size:24px; color:#fff; font-style: normal; width:35px; text-align: center;}
li img{width:765px; height:400px; vertical-align: top; background-size:100%; position:absolute; left:35px; top:0; }